.zitem {
	width:200px;
	height:290px;	
	border:2px solid #333;	
	margin:5px 10px 5px 0;
	
	/* required to hide the image after resized */
	overflow:hidden;
	
	/* for child absolute position */
	position:relative;
	
	/* display div in line */
	float:left;
	
	cursor: pointer;
   /* Webkit */
	-webkit-box-shadow: #999 3px 3px 5px;
    /* Firefox */
	-moz-box-shadow: #999 3px 3px 5px;
	
	}

.zitem .caption {
	width:200px;
	height:80px;
	background:#000;
	color:#fff;
	/* fix it at the bottom */
	position:absolute;
	bottom:-1px; /* fix IE issue */
	left:0;

	/* hide it by default */
	display:none;

	/* opacity setting */
	filter:alpha(opacity=70);    /* ie  */
	-moz-opacity:0.7;    /* old mozilla browser like netscape  */
	-khtml-opacity: 0.7;    /* for really really old safari */  
	opacity: 0.7;    /* css standard, currently it works in most modern browsers like firefox,  */
}

.zitem .caption h3{
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
}
.zitem .caption p{
  font-size: 18px;
  font-weight: bold;
	text-align: right;
	font-family: serif;
}

.zitem .caption a {
	text-decoration:none;
	color:#fff;
	font-size:12px;	
	
	/* add spacing and make the whole row clickable*/
	padding:5px;
	display:block;
}

.zitem img{
	border:0;
	position:absolute;
}

.clear {
	clear:both;	
}