.init_win{
  width: 70%;
  margin: auto;
}

#ui{
  width: 430px;
  margin:auto;
}

.clear{
  text-align: center;
}

address{
  color: black;
	text-shadow: #ccc 3px 3px 5px;
	border-top: #ccc 1px dashed;
	text-indent: .5em;
	text-align: right;
  font-size: x-small;
}

h1{
  color: black;
	text-shadow: #ccc 3px 3px 5px;
	border-bottom: #ccc 1px dashed;
	text-indent: .5em;
	text-align: center;
}

h2{
	text-shadow: #ccc 3px 3px 5px;
  color: black;
  text-align: center;
}
h3.count{
	text-shadow: #ccc 3px 3px 5px;
  color: black;
  text-align: center;
}
.count span{
}

#init li{
  list-style-type: none;
}

#init ul{
  margin: 0;
  padding-left: 1em;
}

label.labe2{
  cursor: pointer;
}

label.unchecked:before{
  content: url("delete.png");
}
label.checked:before{
  content: url("add.png");
}

#init{
 margin: auto;
}


#init fieldset{
  float: left;
  height: 50%;
  margin: 5px;
	border: 1px #5f7279 solid;
	border-left: 10px #5f7279 solid;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
	-webkit-box-shadow: #728991 3px 3px 5px;
	-moz-box-shadow: #728991 3px 3px 5px;
}

legend{
	font-weight: bold;
}

#result ul{
  clear: left;
}

#result li{
  list-style-type: none;
  text-align: center;
  font-weight: bold;
  float: left;
  color: black;
	text-shadow: #ccc 3px 3px 5px;
}

#result h3{
  margin: .5em 3px 0 3px;
  background-color: #9cf;
  color: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}


#result img{
	-moz-box-shadow: #69c 3px 3px 5px;
}

.rs_1st li{
  width: 40%;
  font-size: small;
  
}
.rs_1st li{
  width: 100%;
  font-size: xx-large;
  
}

.rs_2nd li{
  width: 33.3%;
  font-size: x-large;
}

.rs_3rd li{
  width: 16.6%;
  font-size: large;
}
.rs_2nd img{
  width: 150px;
}

.rs_3rd img{
  width: 100px;
}

.rs_4th li{
  width: 10%;
  font-size: small;
}

.rs_4th img{
  width: 50px;
}


button {
	background: -moz-linear-gradient(top,#5f7279, #394448 50%,#4c5b60 50%,#262d30);
	background: -webkit-gradient(linear, left top, left bottom, from(#5f7279), color-stop(0.5,#394448), color-stop(0.5,#4c5b60), to(#262d30));
	border: 1px solid #DDD;
	color: #FFF;
	padding: 5px 5px;
}

button:hover {
	background: -moz-linear-gradient(top,#262d30, #4c5b60 50%,#394448 50%,#5f7279);
	background: -webkit-gradient(linear, left top, left bottom, from(#262d30), color-stop(0.5,#4c5b60), color-stop(0.5,#394448), to(#5f7279));
	border: 1px solid #DDD;
	color: #FFF;
	padding: 5px 5px;
}
